* {
    padding-left: 0%;
    padding-right: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: linear-gradient(to right, blue, purple);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo {
    display: flex;
}

.logo img {
    border-radius: 5px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: lightblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: lightblue;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    
}

/* Mobile Navigation */
@media (max-width: 768px) {
    header {
        padding: 20px 30px;
    }

    .navigation {
        display: none; /* Hide the regular navigation on small screens */
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .navigation.active {
        display: flex; /* Show the navigation when active */
    }

    .navigation a {
        font-size: 1.2em;
        color: lightblue;
        padding: 15px;
        text-decoration: none;
        border-top: 1px solid #fff;
    }

    .navigation a:hover {
        background-color: #444;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-toggle span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px 0;
    }

}

footer {
    background: linear-gradient(to left, blue, purple);
    color: lightblue;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
}
